Repository OFranjas/taca-da-pinga: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --max-warnings=0 --fix", "prettier --write"],
  "*.{ts,tsx}": ["prettier --write"],
  "*.{css,md,json}": ["prettier --write"]
}

build: switch to Yarn 4 via Corepack (node_modules linker)
  .github/PR_BODY.md
  .github/workflows/ci.yml
  .gitignore
  .yarn/install-state.gz
  .yarnrc.yml
  AGENTS.md
  README.md
  deploy.sh
  docs/DEV.md
  docs/RELEASE.md
  docs/TESTING.md
  package-lock.json
  package.json
  rules-tests/.gitignore
  rules-tests/.yarnrc.yml
  rules-tests/package.json
  rules-tests/yarn.lock
  yarn.lock
Due: prettier --write

test(rules): fix Yarn + Vitest rules-tests
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  rules-tests/.gitignore
  rules-tests/.yarn/install-state.gz
  rules-tests/.yarnrc.yml
  rules-tests/firestore.rules.test.js
  rules-tests/package-lock.json
  rules-tests/package.json
  rules-tests/yarn.lock
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write

ci: remove setup-node yarn cache (use Corepack Yarn 4)
  .github/workflows/ci.yml
Due: none

ci: fix Yarn v4 + ESLint flags and add Yarn cache
  .github/workflows/ci.yml
Due: none

chore: remove outdated PR template for Vitest migration
  .github/PR_BODY.md
Due: prettier --write

feat: add admin claims management tool and update configuration files
  .gitignore
  README.md
  docs/CONFIG.md
  docs/DEV.md
  package.json
  tools/package.json
  tools/set-admin-claim.mjs
Due: prettier --write

fix: update .gitignore to exclude yarn.lock and add new dependencies in yarn.lock
  .gitignore
  yarn.lock
Due: none

feat: enforce branding and sponsor rules
  docs/CONFIG.md
  docs/TESTING.md
  firestore.rules
  package.json
  rules-tests/firestore.rules.test.js
  scripts/test-rules.sh
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add branding and sponsor services
  src/services/__tests__/branding.service.test.ts
  src/services/__tests__/sponsors.service.test.ts
  src/services/branding.service.ts
  src/services/sponsors.service.ts
  src/utils/__tests__/image.test.ts
  src/utils/image.ts
Due: prettier --write

fix: remove redundant Yarn install artifacts from .gitignore
  .gitignore
Due: none

fix: update Yarn install state to reflect changes
  .yarn/install-state.gz
Due: none

feat: implement branding management with upload and removal functionality
  rules-tests/.yarn/install-state.gz
  src/App.jsx
  src/components/BrandingForm.jsx
  src/components/BrandingForm.module.css
  src/pages/Admin.jsx
  src/pages/Admin.module.css
  src/pages/Branding.jsx
  src/pages/Branding.module.css
  src/pages/__tests__/BrandingPage.test.jsx
  src/services/__tests__/branding.service.test.ts
  src/services/branding.service.ts
Due: eslint --max-warnings=0 --fix, prettier --write

fix: preserve branding assets when clearing uploads
  src/components/BrandingForm.jsx
  src/pages/__tests__/BrandingPage.test.jsx
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: memoize branding form file handlers
  src/components/BrandingForm.jsx
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add design tokens and ui primitives
  src/components/BrandingForm.jsx
  src/components/BrandingForm.module.css
  src/components/ui/Button.module.css
  src/components/ui/Button.tsx
  src/components/ui/Card.module.css
  src/components/ui/Card.tsx
  src/components/ui/FileInput.module.css
  src/components/ui/FileInput.tsx
  src/components/ui/Input.module.css
  src/components/ui/Input.tsx
  src/components/ui/Section.module.css
  src/components/ui/Section.tsx
  src/components/ui/__tests__/primitives.test.tsx
  src/globals.css
  src/pages/Branding.jsx
  src/pages/Branding.module.css
  src/styles/tokens.css
Due: eslint --max-warnings=0 --fix, prettier --write

build: enable TypeScript support
  .yarn/install-state.gz
  eslint.config.js
  package.json
  rules-tests/.yarn/install-state.gz
  src/types/global.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write

feat(ui): add design tokens and primitives
  src/ui/components/Button.module.css
  src/ui/components/Button.tsx
  src/ui/components/Card.module.css
  src/ui/components/Card.tsx
  src/ui/components/Grid.module.css
  src/ui/components/Grid.tsx
  src/ui/components/Page.module.css
  src/ui/components/Page.tsx
  src/ui/components/Section.module.css
  src/ui/components/Section.tsx
  src/ui/components/Stack.module.css
  src/ui/components/Stack.tsx
  src/ui/components/Text.module.css
  src/ui/components/Text.tsx
  src/ui/components/index.ts
  src/ui/components/utils.ts
  src/ui/index.ts
  src/ui/theme.css
  src/ui/tokens.ts
Due: prettier --write

refactor: migrate app entry to TypeScript
  index.html
  src/main.tsx
Due: prettier --write

refactor(admin): migrate admin surfaces to shared primitives
  src/components/AdminLoginCard.module.css
  src/components/AdminLoginCard.tsx
  src/hooks/useAdminAuth.ts
  src/pages/Admin.jsx
  src/pages/Admin.module.css
  src/pages/Admin.tsx
  src/pages/Branding.jsx
  src/pages/Branding.module.css
  src/pages/Branding.tsx
  src/services/sponsors.service.ts
Due: eslint --max-warnings=0 --fix, prettier --write

style(header): restore translucent navigation
  src/components/Header.module.css
Due: prettier --write

chore: improve firestore rules test harness
  scripts/test-rules.sh
Due: none

refactor(tests): simplify mock implementations and update test file structure
  .yarn/install-state.gz
  src/services/__tests__/branding.service.test.ts
  src/services/__tests__/sponsors.service.test.ts
  src/utils/__tests__/image.test.ts
  tsconfig.json
Due: prettier --write

ci: deploy firebase preview channels
  .github/workflows/firebase-preview.yml
Due: none

fix: authenticate firebase preview deploy
  .github/workflows/firebase-preview.yml
Due: none

chore(ci): add firebase-tools and script for CI previews
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

feat(ci): add PR preview workflow for Firebase deployment
  .github/workflows/pr-preview.yml
Due: none

fix(ci): handle firebase preview deploy output map
  .github/workflows/pr-preview.yml
Due: none

fix(ci): provide env config and reliable firebase deploy
  .github/workflows/pr-preview.yml
Due: none

chore(ci): pin preview channel domain
  .github/workflows/pr-preview.yml
Due: none

fix(ci): force preview channel site and domain
  .github/workflows/pr-preview.yml
Due: none

fix(ci): drop site flag and clamp preview url
  .github/workflows/pr-preview.yml
Due: none

feat(ci): clone preview channel to static site
  .github/workflows/pr-preview.yml
Due: none

chore(ci): use legal firebase site id for preview
  .github/workflows/pr-preview.yml
Due: none

feat(ci): auto deploy develop branch to dedicated hosting
  .github/workflows/ci.yml
  .github/workflows/deploy-develop.yml
  firebase.json
Due: prettier --write

fix(ci): harden preview deploy and hosting targets
  .firebaserc
  .github/workflows/deploy-develop.yml
  .github/workflows/pr-preview.yml
  firebase.json
Due: prettier --write

fix(ci): surface preview deploy errors and require project id
  .github/workflows/pr-preview.yml
Due: none

chore(ci): stream preview deploy output for debugging
  .github/workflows/pr-preview.yml
Due: none

fix(firebase): specify default hosting site id
  firebase.json
Due: prettier --write

docs: document ci and hosting automation
  AGENTS.md
  README.md
  docs/CONFIG.md
  docs/DEV.md
  docs/RELEASE.md
Due: prettier --write

feat: unify header primitives
  src/components/AppShell.module.css
  src/components/AppShell.tsx
  src/components/Header.jsx
  src/components/Header.module.css
  src/components/Header.tsx
  src/components/__tests__/AppShell.test.tsx
  src/components/__tests__/Header.test.tsx
  src/ui/components/Button.tsx
Due: eslint --max-warnings=0 --fix, prettier --write
