Repository OFranjas/taca-da-pinga: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --max-warnings=0 --fix", "prettier --write"],
  "*.{ts,tsx}": ["prettier --write"],
  "*.{css,md,json}": ["prettier --write"]
}

fix: resume sponsor marquee after touch
  src/components/SponsorMarquee.jsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: align sponsor carousel behavior
  src/components/SponsorMarquee.jsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
  src/pages/Leaderboard.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: Make sponsors static with future plan for them
  docs/SPONSORS.md
  src/components/SponsorMarquee.jsx
  src/components/SponsorsAdminPanel.module.css
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: simplify admin shell context
  src/pages/Admin.tsx
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/__tests__/AdminShell.test.tsx
Due: prettier --write

fix: address leaderboard review feedback
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: optimize active sponsor queries
  firestore.indexes.json
  src/components/SponsorMarquee.module.css
  src/components/SponsorsRail.module.css
  src/services/__tests__/sponsors.service.test.ts
  src/services/sponsors.service.ts
Due: prettier --write

fix: deploy firestore indexes with develop
  .github/workflows/deploy-develop.yml
Due: none

fix: offset mobile admin rail
  src/pages/AdminShell.module.css
Due: prettier --write

fix: match mobile admin header offset
  src/pages/AdminShell.module.css
Due: prettier --write

fix: offset tablet admin rail
  src/pages/AdminShell.module.css
Due: prettier --write

fix: fill public sponsor cards
  src/components/SponsorMarquee.module.css
  src/components/SponsorsRail.module.css
Due: prettier --write

fix: align firestore team index definition
  firestore.indexes.json
Due: prettier --write

feat: polish sponsor presentation and management
  docs/SPONSORS.md
  package.json
  src/App.jsx
  src/__tests__/App.test.jsx
  src/components/BrandingForm.jsx
  src/components/SponsorMarquee.d.ts
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
  src/components/__tests__/SponsorMarquee.test.jsx
  src/components/__tests__/SponsorsAdminPanel.test.tsx
  src/components/__tests__/SponsorsRail.test.jsx
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/Home.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/AdminShell.test.tsx
  src/pages/__tests__/HomePage.test.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
  vite.config.js
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write

fix: stabilize mobile sponsor and admin UX
  src/components/Header.module.css
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
  src/components/SponsorsAdminPanel.module.css
  src/pages/AdminShell.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

fix: smooth mobile marquee and admin layout
  src/components/Header.module.css
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
  src/components/SponsorsAdminPanel.module.css
  src/pages/Admin.tsx
  src/pages/AdminShell.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

fix: restore touch drag for mobile sponsors
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

fix: anchor mobile admin menu below header
  src/components/Header.tsx
  src/pages/AdminShell.module.css
Due: prettier --write

fix: keep mobile admin menu in flow
  src/components/Header.tsx
  src/pages/AdminShell.module.css
Due: prettier --write

fix: restore mobile admin menu scrolling
  src/pages/Admin.tsx
  src/pages/AdminShell.module.css
Due: prettier --write

fix: keep mobile marquee on interactive segment
  src/components/SponsorMarquee.jsx
  src/components/__tests__/SponsorMarquee.test.jsx
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add sponsor destination links
  src/components/SponsorMarquee.jsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/components/__tests__/SponsorMarquee.test.jsx
  src/components/__tests__/SponsorsAdminPanel.test.tsx
  src/services/__tests__/sponsors.service.test.ts
  src/services/sponsors.service.ts
Due: eslint --max-warnings=0 --fix, prettier --write

fix: sync leaderboard virtual row metrics
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: secure sponsor links in looped cards
  firestore.rules
  rules-tests/firestore.rules.test.js
  src/components/SponsorMarquee.jsx
  src/components/__tests__/SponsorMarquee.test.jsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: preserve legacy sponsor management
  firestore.rules
  rules-tests/firestore.rules.test.js
  src/components/SponsorMarquee.jsx
  src/components/SponsorsAdminPanel.tsx
  src/components/__tests__/SponsorMarquee.test.jsx
  src/components/__tests__/SponsorsAdminPanel.test.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add drink scoring
  README.md
  docs/CONFIG.md
  docs/DRINKS_FEATURE_PLAN.md
  docs/DRINKS_IMPLEMENTATION_PROMPTS.md
  docs/SECURITY.md
  docs/TESTING.md
  firestore.rules
  rules-tests/firestore.rules.test.js
  src/components/AddPingasPanel.module.css
  src/components/AddPingasPanel.tsx
  src/components/__tests__/AddPingasPanel.test.tsx
  src/config/drinks.ts
  src/services/__tests__/leaderboard.test.js
  src/services/__tests__/teams.test.js
  src/services/leaderboard.js
  src/services/teams.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: refine drink catalogue visuals
  docs/DRINKS_FEATURE_PLAN.md
  src/assets/cider.svg
  src/assets/metro.svg
  src/assets/sangria.svg
  src/assets/white-spirit.svg
  src/components/AddPingasPanel.module.css
  src/components/AddPingasPanel.tsx
  src/components/LeaderboardRow.module.css
  src/components/LeaderboardRow.tsx
  src/components/__tests__/AddPingasPanel.test.tsx
  src/config/drinks.ts
  src/pages/__tests__/LeaderboardPage.test.tsx
  src/services/__tests__/leaderboard.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: harden drinks scoring flow
  docs/CONFIG.md
  docs/DRINKS_FEATURE_PLAN.md
  rules-tests/firestore.rules.test.js
  src/assets/s1.png
  src/assets/s10.jpeg
  src/assets/s11.png
  src/assets/s12.png
  src/assets/s2.jpeg
  src/assets/s3.png
  src/assets/s4.png
  src/assets/s5.png
  src/assets/s6.png
  src/assets/s7.jpeg
  src/assets/s8.jpeg
  src/assets/s9.jpeg
  src/components/AddPingasPanel.tsx
  src/components/__tests__/AddPingasPanel.test.tsx
  src/config/__tests__/drinks.test.ts
  src/services/__tests__/leaderboard.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: consolidate one-pinga drinks
  docs/DRINKS_FEATURE_PLAN.md
  src/assets/cider.svg
  src/assets/sangria.svg
  src/components/AddPingasPanel.tsx
  src/components/__tests__/AddPingasPanel.test.tsx
  src/config/__tests__/drinks.test.ts
  src/config/drinks.ts
  src/services/__tests__/leaderboard.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: rename light drink category
  docs/DRINKS_FEATURE_PLAN.md
  src/components/__tests__/AddPingasPanel.test.tsx
  src/config/__tests__/drinks.test.ts
  src/config/drinks.ts
  src/services/__tests__/leaderboard.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: capitalize white drink label
  docs/DRINKS_FEATURE_PLAN.md
  src/components/__tests__/AddPingasPanel.test.tsx
  src/config/__tests__/drinks.test.ts
  src/config/drinks.ts
  src/services/__tests__/leaderboard.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: protect drink totals projection
  firestore.rules
  rules-tests/firestore.rules.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add admin display mode shortcut
  src/pages/AdminShell.tsx
  src/pages/__tests__/AdminShell.test.tsx
Due: prettier --write

fix: clarify display mode label
  src/pages/AdminShell.tsx
  src/pages/__tests__/AdminShell.test.tsx
Due: prettier --write

fix: fit TV mode shortcut in sidebar
  src/pages/AdminShell.tsx
  src/pages/__tests__/AdminShell.test.tsx
Due: prettier --write

fix: keep TV sponsor rail looping
  src/components/SponsorsRail.jsx
  src/components/__tests__/SponsorsRail.test.jsx
  src/pages/Leaderboard.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: smooth TV display motion
  src/components/SponsorsRail.jsx
  src/pages/Leaderboard.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: smooth sponsor carousels
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
  src/components/__tests__/SponsorMarquee.test.jsx
  src/components/__tests__/SponsorsRail.test.jsx
  src/hooks/useMeasuredLoop.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: preserve sponsor carousel dragging
  docs/SPONSORS.md
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
  src/components/SponsorsRail.jsx
  src/components/__tests__/SponsorMarquee.test.jsx
  src/components/__tests__/SponsorsRail.test.jsx
  src/hooks/useInteractiveLoop.js
  src/hooks/useMeasuredLoop.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: support laptop sponsor gestures
  src/components/SponsorMarquee.module.css
  src/components/__tests__/SponsorMarquee.test.jsx
  src/hooks/useInteractiveLoop.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: map laptop wheel to sponsor carousel
  src/components/__tests__/SponsorMarquee.test.jsx
  src/hooks/useInteractiveLoop.js
Due: eslint --max-warnings=0 --fix, prettier --write
