Repository OFranjas/taca-da-pinga: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --max-warnings=0 --fix", "prettier --write"],
  "*.{ts,tsx}": ["prettier --write"],
  "*.{css,md,json}": ["prettier --write"]
}

fix: reveal sponsors when carousel receives focus
  src/components/__tests__/SponsorMarquee.test.jsx
  src/hooks/useInteractiveLoop.js
Due: eslint --max-warnings=0 --fix, prettier --write

feat: add responsive leaderboard comparison bars
  src/components/LeaderboardRow.module.css
  src/components/LeaderboardRow.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: refine leaderboard display layout
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
Due: prettier --write

fix: restore sponsor rail behavior
  src/pages/Leaderboard.tsx
Due: prettier --write

fix: soften sponsor rail edges
  src/components/SponsorsRail.module.css
Due: prettier --write

fix: make sponsor rails loop seamlessly
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

fix: align display sponsor rails with develop
  src/components/SponsorsRail.module.css
  src/pages/Leaderboard.module.css
Due: prettier --write

fix: extend display sponsor rails
  src/pages/Leaderboard.module.css
Due: prettier --write

fix: fade sponsor rail edges
  src/components/SponsorsRail.module.css
  src/pages/Leaderboard.module.css
Due: prettier --write

fix: compact laptop leaderboard rows
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: fade mobile sponsor carousel
  src/components/SponsorMarquee.module.css
Due: prettier --write

fix: smooth sponsor rail motion
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

fix: stabilize leaderboard motion
  src/components/SponsorsRail.module.css
  src/hooks/useInteractiveLoop.js
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: prevent sponsor rail resets
  src/components/SponsorsRail.jsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: tighten laptop leaderboard rows
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: align responsive leaderboard header
  src/components/LeaderboardRow.module.css
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: align leaderboard count in Safari
  src/pages/Leaderboard.module.css
Due: prettier --write

fix: restore readable laptop leaderboard rows
  src/components/LeaderboardRow.module.css
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

chore: clean leaderboard presentation code
  src/components/LeaderboardRow.tsx
  src/components/SponsorsRail.jsx
  src/pages/Leaderboard.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

fix: preserve leaderboard reference accessibility
  src/components/LeaderboardRow.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: pause sponsor rail animation frames
  src/components/SponsorsRail.jsx
  src/components/__tests__/SponsorsRail.test.jsx
  src/pages/Leaderboard.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

fix: reset sponsor rails for reduced motion
  src/components/SponsorsRail.jsx
  src/components/__tests__/SponsorsRail.test.jsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: simplify mobile leaderboard header
  src/pages/Leaderboard.module.css
Due: prettier --write

feat: refine leaderboard comparison bars
  src/components/LeaderboardRow.module.css
  src/components/LeaderboardRow.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

fix: preserve leaderboard medal gradients
  src/components/LeaderboardRow.module.css
  src/components/LeaderboardRow.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

docs: add tournament admin and release guides
  README.md
  docs/ADMIN.md
  docs/CONFIG.md
  docs/RELEASE.md
  docs/SECURITY.md
  docs/SPONSORS.md
  rules-tests/firestore.rules.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

docs: simplify README
  README.md
Due: prettier --write

ci: deploy production after release merge
  .github/workflows/deploy-production.yml
  README.md
  docs/CONFIG.md
  docs/RELEASE.md
Due: prettier --write

fix: restrict production deployment workflow
  .github/workflows/deploy-production.yml
  docs/RELEASE.md
Due: prettier --write

docs: grant index permissions for production deploys
  docs/CONFIG.md
  docs/RELEASE.md
Due: prettier --write

fix: enforce release CI validation
  .github/workflows/ci.yml
  .github/workflows/deploy-develop.yml
  package.json
  yarn.lock
Due: prettier --write

fix: enforce drink score projection
  docs/CONFIG.md
  docs/SECURITY.md
  docs/TESTING.md
  firestore.rules
  rules-tests/firestore.rules.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: align team creation and scoring API
  AGENTS.md
  firestore.rules
  rules-tests/firestore.rules.test.js
  src/services/__tests__/leaderboard.test.js
  src/services/leaderboard.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: protect legacy team projections
  firestore.rules
  rules-tests/firestore.rules.test.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: isolate preview deploy credentials
  .github/workflows/pr-preview.yml
Due: none

fix: guard manual preview comments
  .github/workflows/pr-preview.yml
Due: none

fix: restrict preview deploy to pull requests
  .github/workflows/pr-preview.yml
Due: none

fix: pin trusted preview deploy node
  .github/workflows/pr-preview.yml
Due: none

fix: use default branch preview tooling
  .github/workflows/pr-preview.yml
Due: none
