Repository OFranjas/taca-da-pinga: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

fix(ci): run preview workflow via pull_request_target
  .github/workflows/pr-preview.yml
Due: none

fix(ci): update pull request trigger to use pull_request_target
  .github/workflows/ci.yml
Due: none

feat(branding): live refresh header branding and update placeholder
  src/components/Header.module.css
  src/components/Header.tsx
  src/components/__tests__/AppShell.test.tsx
  src/components/__tests__/Header.test.tsx
  src/pages/__tests__/BrandingPage.state.test.tsx
  src/pages/__tests__/BrandingPage.test.jsx
  src/services/__tests__/branding.service.test.ts
  src/services/branding.service.ts
  src/utils/__tests__/image.test.ts
  src/utils/image.ts
Due: eslint --max-warnings=0 --fix, prettier --write

fix(button): restrict hover styles to hover devices
  src/ui/components/Button.module.css
Due: prettier --write

feat: modernize home page layout
  src/pages/Home.jsx
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/__tests__/HomePage.test.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: align home branding assets and sponsor query
  src/components/Header.tsx
  src/pages/Home.tsx
  src/pages/__tests__/HomePage.test.tsx
  src/services/__tests__/sponsors.service.test.ts
  src/services/sponsors.service.ts
Due: prettier --write

chore: stabilize header imports for lint
  src/components/Header.tsx
Due: prettier --write

fix: harden header fallback branding state
  src/components/Header.tsx
Due: prettier --write

chore: update yarn install state
  .yarn/install-state.gz
Due: none

ci: checkout pull request head on target runs
  .github/workflows/ci.yml
Due: none

fix(ci): adjust checkout step conditions for pull request targets
  .github/workflows/ci.yml
Due: none

ci: unify checkout logic
  .github/workflows/ci.yml
Due: none

feat: redesign leaderboard page in tsx
  src/components/LeaderboardBars.jsx
  src/components/LeaderboardRow.module.css
  src/components/LeaderboardRow.tsx
  src/components/SponsorsRail.jsx
  src/pages/Leaderboard.jsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
  src/types/global.d.ts
Due: eslint --max-warnings=0 --fix, prettier --write

refactor: update language and styling in Leaderboard components
  rules-tests/yarn.lock
  src/components/LeaderboardRow.module.css
  src/components/LeaderboardRow.tsx
  src/pages/Branding.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/LeaderboardPage.test.tsx
Due: prettier --write

feat: refresh admin admin shell layout
  src/components/AddPingasPanel.tsx
  src/components/ManageTeamsPanel.tsx
  src/hooks/useAdminAuth.ts
  src/pages/Admin.module.css
  src/pages/Admin.tsx
  src/pages/AdminGuard.module.css
  src/pages/AdminGuard.tsx
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/__tests__/AdminShell.test.tsx
Due: prettier --write

refactor: update styles and structure for AdminGuard and AdminShell components
  .gitignore
  src/components/AddPingasPanel.module.css
  src/components/ManageTeamsPanel.module.css
  src/pages/AdminGuard.module.css
  src/pages/AdminGuard.tsx
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
Due: prettier --write

fix: harden ci and address review feedback
  .github/workflows/ci.yml
  src/pages/Branding.tsx
  src/services/sponsors.service.ts
  src/utils/__tests__/image.test.ts
  src/utils/image.ts
Due: prettier --write

feat: enhance branding loading state and improve logo display in Header and Home components
  src/components/Header.module.css
  src/components/Header.tsx
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/services/__tests__/sponsors.service.test.ts
Due: prettier --write

refactor: simplify CI workflow name
  .github/workflows/ci.yml
Due: none

fix: add fallback values for Firebase configuration in firebase.js
  src/firebase.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: update test script to conditionally use npm or yarn based on package-lock presence
  rules-tests/yarn.lock
  scripts/test-rules.sh
Due: none

ci: update build configuration
  package.json
Due: prettier --write

ci: harden yarn install with ignore-scripts
  .github/workflows/ci.yml
  .github/workflows/deploy-develop.yml
  .github/workflows/pr-preview.yml
Due: none

ci: replace unsupported ignore-scripts and harden pr preview
  .github/workflows/ci.yml
  .github/workflows/deploy-develop.yml
  .github/workflows/pr-preview.yml
Due: none

docs: audit current deployed state
  docs/AUDIT_CURRENT_STATE.md
  output/audit-current-state/develop-admin-desktop.png
  output/audit-current-state/develop-admin-logged-in-desktop.png
  output/audit-current-state/develop-admin-logged-in-mobile.png
  output/audit-current-state/develop-admin-mobile.png
  output/audit-current-state/develop-admin-tablet.png
  output/audit-current-state/develop-admin-tv.png
  output/audit-current-state/develop-home-desktop.png
  output/audit-current-state/develop-home-mobile.png
  output/audit-current-state/develop-home-tablet.png
  output/audit-current-state/develop-home-tv.png
  output/audit-current-state/develop-leaderboard-desktop.png
  output/audit-current-state/develop-leaderboard-mobile.png
  output/audit-current-state/develop-leaderboard-tablet.png
  output/audit-current-state/develop-leaderboard-tv.png
  output/audit-current-state/develop-offline-leaderboard.png
  output/audit-current-state/prod-admin-desktop.png
  output/audit-current-state/prod-admin-logged-in-desktop.png
  output/audit-current-state/prod-admin-logged-in-mobile.png
  output/audit-current-state/prod-admin-mobile.png
  output/audit-current-state/prod-admin-tablet.png
  output/audit-current-state/prod-admin-tv.png
  output/audit-current-state/prod-home-desktop.png
  output/audit-current-state/prod-home-mobile.png
  output/audit-current-state/prod-home-tablet.png
  output/audit-current-state/prod-home-tv.png
  output/audit-current-state/prod-leaderboard-desktop.png
  output/audit-current-state/prod-leaderboard-mobile.png
  output/audit-current-state/prod-leaderboard-tablet.png
  output/audit-current-state/prod-leaderboard-tv.png
Due: prettier --write

feat: prepare tournament leaderboard and admin
  firestore.rules
  rules-tests/firestore.rules.test.js
  src/App.jsx
  src/components/AddPingasPanel.module.css
  src/components/AddPingasPanel.tsx
  src/components/AdminLoginCard.tsx
  src/components/BrandingForm.jsx
  src/components/ConfirmModal.jsx
  src/components/Header.module.css
  src/components/Header.tsx
  src/components/LeaderboardRow.module.css
  src/components/LeaderboardRow.tsx
  src/components/ManageTeamsPanel.tsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
  src/components/__tests__/Header.test.tsx
  src/pages/Admin.tsx
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/Branding.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/AdminShell.test.tsx
  src/pages/__tests__/BrandingPage.state.test.tsx
  src/pages/__tests__/BrandingPage.test.jsx
  src/pages/__tests__/LeaderboardPage.test.tsx
  src/services/__tests__/leaderboard.test.js
  src/services/__tests__/sponsors.service.test.ts
  src/services/leaderboard.js
  src/services/sponsors.service.ts
  src/ui/components/Stack.module.css
  src/ui/components/Stack.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: refine tournament UI feedback
  src/components/AddPingasPanel.module.css
  src/components/AddPingasPanel.tsx
  src/components/LeaderboardRow.tsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/components/SponsorsRail.module.css
  src/pages/Admin.tsx
  src/pages/Home.tsx
Due: prettier --write

fix: polish sponsor and branding visuals
  src/components/AddPingasPanel.module.css
  src/components/BrandingForm.jsx
  src/components/BrandingForm.module.css
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsRail.module.css
  src/pages/Home.module.css
  src/pages/Home.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: refine sponsor visibility and medal colors
  src/components/AddPingasPanel.module.css
  src/components/LeaderboardRow.tsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsRail.module.css
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/Leaderboard.module.css
Due: prettier --write

fix: align sponsor imagery and action buttons
  src/components/BrandingForm.module.css
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsRail.module.css
  src/pages/AdminShell.module.css
  src/pages/Home.module.css
Due: prettier --write

feat: add pwa support and reset route scroll
  index.html
  public/manifest.json
  public/service-worker.js
  src/App.jsx
  src/__tests__/App.test.jsx
  src/main.tsx
  src/serviceWorkerRegistration.ts
  vite.config.js
Due: eslint --max-warnings=0 --fix, prettier --write

fix: refine sponsors and loading states
  src/components/AddPingasPanel.module.css
  src/components/AddPingasPanel.tsx
  src/components/BrandingForm.jsx
  src/components/BrandingForm.module.css
  src/components/ManageTeamsPanel.module.css
  src/components/ManageTeamsPanel.tsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: use beer icon for pwa
  index.html
  public/apple-touch-icon.png
  public/favicon.png
  public/logo192.png
  public/logo512.png
  public/manifest.json
Due: prettier --write

fix: stabilize responsive sponsor layouts
  src/pages/AdminShell.module.css
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
Due: prettier --write

fix: tighten responsive layouts
  src/components/AppShell.module.css
  src/components/BrandingForm.module.css
  src/components/LeaderboardRow.module.css
  src/components/SponsorsRail.module.css
  src/pages/Admin.tsx
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/Home.module.css
  src/pages/Leaderboard.module.css
  src/pages/__tests__/AdminShell.test.tsx
  src/ui/components/Card.module.css
  src/ui/components/Grid.module.css
  src/ui/components/Page.module.css
Due: prettier --write

fix: refine sponsor responsiveness
  src/App.jsx
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/HomePage.test.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: refine responsive tournament screens
  AGENTS.md
  docs/SECURITY.md
  docs/TESTING.md
  src/components/AddPingasPanel.tsx
  src/components/ManageTeamsPanel.module.css
  src/components/SponsorsRail.module.css
  src/pages/AdminShell.module.css
  src/pages/AdminShell.tsx
  src/pages/Home.module.css
  src/pages/Home.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
  src/pages/__tests__/AdminShell.test.tsx
Due: prettier --write

fix: improve sponsor motion and admin controls
  src/components/AddPingasPanel.tsx
  src/components/SponsorMarquee.d.ts
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/components/SponsorsRail.jsx
  src/components/SponsorsRail.module.css
  src/pages/Admin.tsx
  src/pages/AdminShell.module.css
  src/pages/Home.tsx
  src/pages/Leaderboard.module.css
  src/pages/Leaderboard.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

fix: refine sponsor motion and admin controls
  src/components/SponsorMarquee.jsx
  src/components/SponsorMarquee.module.css
  src/components/SponsorsAdminPanel.module.css
  src/components/SponsorsAdminPanel.tsx
  src/pages/AdminShell.module.css
Due: eslint --max-warnings=0 --fix, prettier --write

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.{css,md,json})
